<div class="home-container">
    <div class="home-header">
      <h1>Welcome World Map Application</h1>
      <p>Detailed information on Countries.</p>
    </div>
  
    <div class="home-section">
      <h2>About This Application</h2>
      <p>
        This application provides an interactive world map where you can hover over countries to get detailed information about them. The data includes country name, region, income level, capital city, lending type, and employment in agriculture.
      </p>
    </div>
  
    <div class="home-section">
      <h2>Features</h2>
      <ul>
        <li>Interactive map.</li>
        <li>Data fetched from the World Bank API.</li>
        <li>Detailed information about countries, including economic indicators.</li>
      </ul>
    </div>
  
    <div class="home-section">
      <h2>How to Use</h2>
      <ol>
        <li>Navigate to the <a routerLink="/map">Map</a> page.</li>
        <li>Hover over a country to see detailed information about it.</li>
        <li>Navigate to the <a routerLink="/source">Sources</a> page for more information about the application.</li>
      </ol>
    </div>
  </div>
  